

<div class="jumbotron jumbotron-fluid">
    <!-- <div class="form-group">
      <label for="sel1">Sort By : &nbsp;&nbsp;</label>
      <select class="form-control" id="sel1">
        <option>Popularity</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div> -->
    
    <div class="card"  >
      <!-- <img src="../../assets/movieimages/Taare_Zameen_Par_Like_Stars_on_Earth_poster.png" class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">Checkout Details </h5>
        <p class="card-text">Transaction Amount to be Paid: {{moviePrice}}</p>
        <p class="card-text">Thanks for booking movie tickets online. Please pay and collect your movie tickets at counter </p>
        
        <a class="nav-link" href="#">Book more tickets</a>
        <!-- <a href="#" class="btn btn-primary">Book</a>
        <p class="recommended" *ngIf="+movie.rating>3">Recommended</p> -->
      </div>
    </div>
</div>